.purpleDotted{
  width: 500px;
  border: 3px dotted purple;
  padding-top: 100px;
  padding-right: 50px;
  padding-bottom: 0px;
  padding-left: 400px;
  margin: 20px;

}

.blacktext{
  color: black;
  vertical-align: middle;
}
.greenText{
  color: green;
  padding-left:500px;
  font-size: 10px;
}

.orangeText{
  color: orange;
  font-size: 30px;
}

.redText{
  color: red;
  vertical-align: super;
}

.purpleText{
  color: purple;
  font-size: 10px;
  padding-left: 900px;

}

.yellowText{
  color: yellow;
  font-size: 10px;
  padding-left: 0px;
}
