 body{
   background-color: black;
   margin-top: 0;
 }

 #wrapper{
   background-color: white;
   margin:0 auto;
   width: 1200px;
   height: 1000px;
   color:white;
 }

 #header{
   background-color: red;
   text-align: center;
   width: 1200px;
   height: 50px;
 }
  #content{
    background-color: green;
    width: 1200px;
    height: 800px;
    float: left;
  }

  #footer{
    background-color: blue;
    width: 1200px;
    height: 100px;
    float: left;
  }
